#body {
  background-image: url(../images/arena-pokemon.jpg);
  height: 100%;
  justify-content: center;
  align-items: center;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
}
#gameboard {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
#placar {
  width: 525px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  color: rgba(255, 255, 0, 0.601);
  background-color: rgba(0, 0, 0, 0);
}

header {
  text-align: center;
}

img {
  height: 200px;
  margin: 10px;
}

.imageSelect {
  height: 300px;
}

#logo {
  margin-left: auto;
  margin-right: auto;
  height: 250px;
}

#start {
  background-color: rgba(255, 255, 0);
  color: blue;
  text-align: center;
  border: 10px solid blue;
  display: flex;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
  align-items: center;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
#logo {
  margin: 0;
}

#player1 {
  display: flex;
  justify-content: space-evenly;
}

/* #player1 {
}

#player2 {
} */

footer {
  height: 150px;
  margin: 0;
}

.somebotao {
  display: none;
}

#espaco {
  height: 150px;
}

.linha {
  display: flex;
  flex-flow: row wrap;
}

.coluna-50 {
  width: 50%;
}
