#body {
  background-image: url(../images/arena-pokemon.jpg);
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
}
#gameboard {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
#placar {
  width: 525px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Courier New", Courier, monospace;
  font-size: 27px;
  color: yellow;
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
  text-align: center;
  text-shadow: 10px 10px 10px blue;
}

#titulosPlacar {
  color: white;
  font-size: 30px;
  text-shadow: 10px 10px 10px blue;
}

header {
  text-align: center;
}

img {
  height: 200px;
  margin: 10px;
  box-shadow: 30px 30px 30px black;
}

.imageSelect {
  height: 300px;
}

#logo {
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  box-shadow: none;
}

#start {
  background-color: rgba(255, 255, 0);
  color: blue;
  text-align: center;
  border: 10px solid blue;
  display: flex;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
  align-items: center;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  box-shadow: 20px 20px 10px black;
}
#logo {
  margin: 0;
}

#player1 {
  display: flex;
  justify-content: space-evenly;
}

footer {
  height: 150px;
  margin: 0;
}

.somebotao {
  display: none;
}

#espaco {
  height: 150px;
}
