#body {
  background-image: url(../images/arena-pokemon.jpg);
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0;
}
#gameboard {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
#placar {
  width: 525px;
  height: 180px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Courier New", Courier, monospace;
  font-size: 27px;
  color: #ffcc03;
  background-color: rgba(0, 0, 0, 0);
  font-weight: bold;
  text-align: center;
  text-shadow: 10px 10px 10px blue;
}

#titulosPlacar {
  color: white;
  font-size: 30px;
  text-shadow: 10px 10px 10px blue;
}

header {
  text-align: center;
}

img {
  height: 200px;
  margin: 10px;
  box-shadow: 30px 30px 30px black;
}

.imageSelect {
  height: 300px;
}

#logo {
  margin-left: auto;
  margin-right: auto;
  height: 250px;
  box-shadow: none;
}

#start {
  background-color: #ffcc03;
  color: rgb(0, 85, 255);
  text-align: center;
  border: 10px solid rgb(42, 113, 255);
  display: flex;
  font-size: 30px;
  font-weight: bold;
  padding: 20px;
  align-items: center;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  box-shadow: 20px 20px 10px black;
}
#logo {
  margin: 0;
}

#player1 {
  display: flex;
  justify-content: space-evenly;
}

footer {
  height: 150px;
  margin: 0;
}

.somebotao {
  display: none;
}

#espaco {
  height: 150px;
}
.btn {
  background-color: rgb(42, 113, 255);
  padding: 5px 10px 5px 10px;
  border: 2px solid blue;
  cursor: pointer;
  transition: background 0.3s;
  border-radius: 5px;
  color: #ffcc03;
  font-weight: bolder;
  font-size: 20px;
}

.btn:hover {
  background-color: #ffcc03;
  color: rgb(42, 113, 255);
}

.btn:active {
}

.modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
}

.modal-content {
  margin: 0 auto;
  margin-top: 10%;
  max-width: 600px;
  background-color: #eee;
  padding: 0;
}

.modal-header h1 {
  font-weight: bold;
  text-align: center;
  background-color: blue;
  color: #ffcc03;
}

.modal-header,
.modal-body,
.modal-footer {
  align-items: center;
  text-align: center;
  display: flex;
  justify-content: center;
}

.modal-header {
  background-color: blue;
}

.modal-footer {
  padding: 10px;
}
#imgModal {
  box-shadow: none;
  width: 600px;
  height: 440px;
}
